<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ഓൺലൈൻ ഗ്രാമസഭ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ഓൺലൈൻ ഗ്രാമസഭ</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">ഓൺലൈൻ ഗ്രാമസഭയിലേക്ക് സ്വാഗതം</strong>
    <p></p>
    <p class="breathable">ലോകത്തിന്റെ വിവിധ ഭാഗങ്ങളിൽ ഉള്ള മലയാളികൾക്ക് അവിടെയിരുന്ന് കൊണ്ട് തന്നെ നാട്ടിലെ
      മറ്റുള്ളവരോടൊപ്പം വികസനമാതൃകകൾ
      രൂപപ്പെടുത്താനും ഫലപ്രദമായി ഭരണനിർവ്വഹണം നടക്കുന്നു എന്ന് ഉറപ്പ് വരുത്താനും ഉള്ള ഒരു വഴി തുറക്കാൻ ശ്രമിക്കുകയാണ്
      ഇവിടെ... നാട്ടിൽ തന്നെയുണ്ടായിട്ടും സ്വന്തം പ്രദേശത്തെ പദ്ധതികൾ തീരുമാനിക്കുന്നതിൽ യാതൊരു ഇടപെടലും ഇതുവരെ നടത്താൻ
      കഴിയാതിരുന്ന എല്ലാവർക്കും ഗ്രാമസഭ വഴിയുള്ള അവരുടെ അധികാരം തിരിച്ചറിയാൻ ഇതിനാൽ കഴിയട്ടെ എന്ന് ആത്മാർഥമായി
      ആഗ്രഹിക്കുന്നു.</p>
    <p></p>
    <ion-card>
      <ion-list lines="none">
        <ion-item [ngClass]="{'active':test}" routerLink="/ente/gramam/messages" class="active" routerDirection="root"
          detail="false">
          <ion-icon slot="start" name="enter"></ion-icon>
          <ion-label>
            ഇവിടെ തുടങ്ങാം...
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

  </div>

</ion-content>