<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-label color="primary">
        ഉദ്ധ്യമം :
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>

        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>

    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        പദ്ധതി :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        ആമുഖം :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">

        സ്ഥലം :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        ചെലവ് :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">

        ചെലവ് വഹിക്കുന്നത് :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary"> []


        അപേക്ഷകർ :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        ഗുണഭോക്താക്കൾ :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">

        ആവശ്യകതയെ പറ്റിയുള്ള റിപ്പോർട്ട് :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        പ്രയോഗികതയെ പറ്റിയുള്ള റിപ്പോർട്ട് :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        ജനങ്ങൾ ബോധിപ്പിച്ച കാര്യങ്ങളും അവയെ പറ്റിയുള്ള റിപ്പോർട്ടും :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">


        ആരംഭിച്ച ദിവസ്സം :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">

        ഒന്നാം ഭാഗം പൂർത്തീകരിച്ചത് :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        .
        .
        .

        നിങ്ങളുടെ പങ്കാളിത്തം :</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">
        ചർച്ച :</ion-label>
    </ion-item>
  </ion-list>

  <!-- List Headers in Lists -->
  <ion-list>
    <ion-list-header lines="inset">
      <ion-label>Recent</ion-label>
      <ion-button>Clear</ion-button>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary">
        <h1>I got you babe</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Multiline text that should wrap when it is too long
        to fit on one line in the item.
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- List of Input Items -->
  <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item></ion-item>
  </ion-list>
</ion-content>